:root {
  --timelineBarLength: 0px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #f5f5f5;
}

/* timeline display styles */
.timeline-window {
  display: flex;
  min-height: 60vh;
  justify-content: center;
  margin-block: 2rem;
  align-items: center;
}
.timeline-window-item {
  display: none;
  gap: 2.5rem;
  align-items: center;
  height: 100%;
}
.img-container {
  aspect-ratio: 1/1;
  max-width: 10rem;
  border-radius: 50%;
  overflow: hidden;
}
.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content {
  max-width: 300px;
}
/* timeline bar styles */
.timeline-bar-wrapper {
  margin: 5rem 1rem;
  display: flex;
  justify-content: center;
}
.timeline-bar {
  position: relative;
  width: 80%;
  max-width: 1200px;
  height: 6px;
  background-color: #a2a2a2;
  display: flex;
  justify-content: space-between;
  
}
.item {
  position: relative;
  width: 1.2rem;
  height: 1.2rem;
  background-color: #a2a2a2;
  border-radius: 50%;
  transform: translateY(-6px);
  z-index: 1;
  cursor: pointer;
  outline: 4px solid #fff;
  transition: all 0.5s ease;
}
.item:first-child {
  transform: translateY(-6px) translateX(-0%);
}
.item:last-child {
  transform: translateY(-6px) translateX(0%);
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
}
p.item-content {
  color: #a2a2a2;
  position: absolute;
  text-wrap: nowrap;
  font-size: small;
  max-width: 6rem;
  top: -1.5rem;
  transition: all 0.5s ease;
}

/* animation styles */
.active {
  display: flex;
}
.timeline-bar::after {
  position: absolute;
  content: "";
  height: 6px;
  background-color: green;
  width: var(--timelineBarLength);
  transition: all 0.6s ease;
}
.pop-out p{
  color: green;
  transform: translateY(-.25rem) scale(1.1);
  font-weight: bold;
  transition: all 0.3s ease;
  transition-delay: .6s;
}
.item.pop-out {
  outline: 4px solid green;
  background-color: white;
  transition: all 0.5s ease;
  transition-delay: 0.6s;
}

@media screen and (max-width: 768px) {
  .timeline {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
  }
  .timeline-bar-wrapper {
    flex-direction: column;
    height: 100vh;
    margin-block: unset;
    min-width: 100px;
    padding-block: 2rem;
  }
  .timeline-bar {
    height: 90vh;
    width: 6px;
    flex-direction: column;
    align-items: space-between;
  }
  .item {
    transform: translateX(-6.5px);
  }
  .item:first-child {
    transform: translateX(-6.5px) translateY(-0%);
  }
  .item:last-child {
    transform: translateX(-6.5px) translateY(0%);
  }
  .circle {
    display: block;
  }
  p.item-content {
    top: unset;
    left: 150%;
  }
  .content h2,
  p {
    text-align: center;
  }
  .pop-out p {
    transform: translateX(.5rem) scale(1.1);
    transition: all 0.3s ease;
    transition-delay: .6s;
  }
  /* timeline case styles */
  .timeline-window-item {
    flex-direction: column;
    justify-content: center;
  }
  .timeline-bar::after {
    position: absolute;
    content: "";
    width: 6px;
    background-color: green;
    height: var(--timelineBarLength);
  }
}

@media screen and (max-width: 480px) {
  .item-content {
    transform: rotate(90deg);
    left: 50%;
  }
  .timeline-bar-wrapper {
    min-width: 50px;
  }
}
